@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url("https://www.educationcorner.com/images/featured-math-exam-tips.jpg")
    no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}

.calculator {
  width: 250px;
  background-color: #111;
  height: 390px;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.display {
  text-align: right;
  width: 100%;
  background-color: #121;
  padding: 20px 10px;
  font-size: 20px;
  height: 67px;
  position: relative;
  color: azure;
}

/* .display small {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 5px;
  color: orangered;
} */

.nums-container {
  width: 75%;
}
.ops-container {
  width: 25%;
}

button {
  border-radius: 80%;
  margin: 5px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.8);
}

button:focus {
  outline: none;
}
button.big-v {
  height: 110px;
  border-radius: 80px;
}
button.big-h {
  width: 110px;
  border-radius: 50px;
}
button.orange {
  background-color: #ee9406;
  color: azure;
}
button.dark-grey {
  background-color: #323232;
  color: azure;
}
button.light-grey {
  background-color: #a5a5a5;
}
button.ac {
  margin-right: 50%;
}
